<div class="col-md-12">
    <label for="monthdays" class="form-label">Monthdays</label>
    <div [formGroup]="monthdaysForm" class="d-flex flex-wrap btn-group" role="group" aria-label="Basic radio toggle button group">
        <span *ngFor="let day of days">
            <input formControlName={{day}} type="checkbox" class="btn-check" name={{day}} value={{day}} id={{day}} autocomplete="off">
            <label class="btn btn-outline-warning" for={{day}}>{{day}}</label>
        </span>
    </div>
</div> 

{{monthdaysForm.value | json}}